{% extends 'base.html' %}
{% load static %}

{% block title %}
الصفحة الرئيسية
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/Artboard 1.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">إنشاء إعلان</h5> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'video-v2:combine' %}" class="btn text-light form-control" style="background: #ed1c24">دمج صور وفيديوهات</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/create-ad.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">إنشاء إعلان</h5> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'video:combine-images' %}" class="btn text-light form-control" style="background: #ed1c24">
              إنشاء إعلان بالصور
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/Artboard 1.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">إنشاء فيديو مع لوجو</h5> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'video:combine-images-withlogo' %}" class="btn text-light form-control" style="background: #ed1c24">إنشاء فيديو مع لوجو</a>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/Artboard 1.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">إنشاء فيديو نموذج تقييم</h5> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'video:feedback_video_template' %}" class="btn text-light form-control" style="background: #ed1c24">إنشاء فيديو نموذج تقييم</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/change-img-size.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">تغيير حجم الصورة</h5> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'image:changesize' %}" class="btn text-light form-control"style="background: #ed1c24">تغيير حجم الصور</a>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/remove-audio.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">إزالة الصوت من الفيديو</h5> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'video:remove-audio' %}" class="btn text-light form-control" style="background: #ed1c24">إزالة الصوت من الفيديو</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/change-video-speed.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">تغيير سرعة الفيديو</h5> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'video:change-speed' %}" class="btn text-light form-control" style="background: #ed1c24">تغيير سرعة الفيديو</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/change-audio-speed.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">تغيير سرعة الصوت</h5> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'audio:change-speed' %}" class="btn text-light form-control" style="background: #ed1c24">تغيير سرعة الصوت</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/Artboard 7.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="{% url 'audio:download-audio' %}" class="btn text-light form-control" style="background: #ed1c24">تحويل الفيديو إلى صوت</a>
          </div>
        </div>
      </div>

      <!-- Repeat the above HTML for each set of 4 cards -->
    </div>
  </div>

{% endblock content %}
