{% extends 'base.html' %}

{% block title %}إنشاء إعلان{% endblock title %}

{% block content %}


<h1>إنشاء فيديو</h1>
<hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <h4>إعدادات الفيديو</h4>
            <div class="mb-3">
                <label for="images-input" class="form-label">الملفات*</label>
                <input type="file" accept="image/*,video/*" id="images-input" multiple required name="images-input" class="form-control">
            </div>
            <div class="mb-3">
                <label for="resize-files-input">الصور تملأ الشاشة</label>
                <input type="checkbox" name="resize-files-input" id="resize-files-input" checked>
                <p class="form-text">حدد ما إن كنت تريد ملأ الإطار بالصور والفيديوهات المرفوعة</p>
            </div>

            <div class="mb-3">
                <label for="loop-audio-input">
                    تكرار الملف الصوتي
                </label>
                <input type="checkbox" name="loop-audio-input" id="loop-audio-input" >
                <p class="form-text">
                    حدد ما إن كنت تريد تكرار الملف الصوتي في حال كانت مدة الفيديو تسمح بذلك
                </p>
            </div>


            <div class="mb-3">
                <label for="audio-input" class="form-label">الصوت</label>
                <input type="file" name="audio-input" id="audio-input" class="form-control" accept="video/*,audio/*">
                <p class="form-text">اختر ملف صوتي او فيديو</p>
            </div>
            <div class="mb-3">
                <label for="tpi-input" class="form-label">الوقت لكل صورة</label>
                <input type="text" name="tpi-input" id='tpi-input' class="form-control" placeholder="أدخل الوقت المحدد لكل صورة">
            </div>
            <div class="mb-3">
                <label for="font-size-input">حجم الخط</label>
                <input type="text" name="font-size-input" id="font-size-input" class="form-control" placeholder="أدخل الحجم الخط">
            </div>  
            <div class="mb-3">
                <label for="transition-select" class="form-label">تأثير الانتقال</label>
                <select name="transition-select" id="transition-select" class="form-select">
                    <option value="fade_in" selected>Fade In (default)</option>
                    <option value="fade_out">Fade Out</option>
                    <option value="slide_in">Slide In</option>
                    <option value="slide_out">Slide Out</option>
                    <!-- <option value="zoom">Zoom</option> -->
                </select>
            </div>
            <div class="mb-3">
                <label for="text-input-1">النص العلوي 1</label>
                <input type="text" id="text-input-1" name="top-text-input-1" placeholder="أدخل النص العلوي الأول" class="form-control">
            </div>
            <!-- <div class="mb-3">
                <label for="text-input-2">النص العلوي 2</label>
                <input class="form-control" type="text" id="text-input-2" name="top-text-input-2" placeholder="أدخل النص العلوي الثاني">
            </div> -->
            <div class="mb-3">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#top-text-input-2" aria-expanded="false" aria-controls="collapseExample">
                    إضافة نص علوي ثان
                </button>

                <div class="collapse mt-3" id="top-text-input-2">
                    <div class="card card-body">
                        <input class="form-control" type="text" id="text-input-2" name="top-text-input-2" placeholder="أدخل النص العلوي الثاني">
                    </div>
                </div>

            </div>

            <!-- <div class="mb-3">
                <label for="text-input-3">النص العلوي 3</label>
                <input class="form-control" type="text" id="text-input-3" name="top-text-input-3" placeholder="أدخل النص العلوي الثالث">
            </div> -->

            <div class="mb-3">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#top-text-input-3" aria-expanded="false" aria-controls="collapseExample">
                    إضافة نص علوي ثالث
                </button>

                <div class="collapse mt-3" id="top-text-input-3">
                    <div class="card card-body">
                        <input class="form-control" type="text" id="text-input-3" name="top-text-input-3" placeholder="أدخل النص العلوي الثالث">
                    </div>
                </div>
            </div>

            <!-- <div class="mb-3">
                <label for="text-input-4">النص العلوي 4</label>
                <input class="form-control" type="text" id="text-input-4" name="top-text-input-4" placeholder="أدخل النص العلوي الرابع">
            </div> -->

            <div class="mb-3">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#top-text-input-4" aria-expanded="false" aria-controls="collapseExample">
                    إضافة نص علوي رابع
                </button>

                <div class="collapse mt-3" id="top-text-input-4">
                    <div class="card card-body">
                        <input class="form-control" type="text" id="text-input-4" name="top-text-input-4" placeholder="أدخل النص العلوي الرابع">
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <label for="bottom-text-input-1">النص السفلي 1</label>
                <input type="text" name="bottom-text-input-1" class="form-control" id="bottom-text-input-1" placeholder="أدخل النص السفلي الأول">
            </div>


            <!-- <div class="mb-3">
                <label for="bottom-text-input-2">النص السفلي 2</label>
                <input type="text" name="bottom-text-input-2" class="form-control" id="bottom-text-input-2" placeholder="أدخل النص السفلي الثاني">
            </div> -->


            <div class="mb-3">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#bottom-text-input-2" aria-expanded="false" aria-controls="collapseExample">
                    إضافة نص سفلي ثان
                </button>

                <div class="collapse mt-3" id="bottom-text-input-2">
                    <div class="card card-body">
                        <input type="text" name="bottom-text-input-2" class="form-control" id="bottom-text-input-2" placeholder="أدخل النص السفلي الثاني">
                    </div>
                </div>
            </div>
<!-- 
            <div class="mb-3">
                <label for="bottom-text-input-3">النص السفلي 3</label>
                <input type="text" name="bottom-text-input-3" class="form-control" id="bottom-text-input-3" placeholder="أدخل النص السفلي الثالث">
            </div> -->

            <div class="mb-3">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#bottom-text-input-3" aria-expanded="false" aria-controls="collapseExample">
                    إضافة نص سفلي ثالث
                </button>

                <div class="collapse mt-3" id="bottom-text-input-3">
                    <div class="card card-body">
                        <input type="text" name="bottom-text-input-3" class="form-control" id="bottom-text-input-3" placeholder="أدخل النص السفلي الثالث">
                    </div>
                </div>
            </div>

            <!-- <div class="mb-3">
                <label for="bottom-text-input-4">النص السفلي 4</label>
                <input type="text" name="bottom-text-input-4" id="bottom-text-input-4" class="form-control" placeholder="أدخل النص السفلي الرابع">
            </div> -->

            <div class="mb-3">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#bottom-text-input-4" aria-expanded="false" aria-controls="collapseExample">
                    إضافة نص سفلي رابع
                </button>

                <div class="collapse mt-3" id="bottom-text-input-4">
                    <div class="card card-body">
                        <input type="text" name="bottom-text-input-4" id="bottom-text-input-4" class="form-control" placeholder="أدخل النص السفلي الرابع">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="res-input" class="form-label">مقاس الفيديو*</label>
                <select class="form-select" name="video-res" aria-label="Default select example" required>
                    <option selected disabled>اختر مقاس الفيديو</option>
                    <option value="facebook1">فيسبوك 1200x628</option>
                    <option value="facebook2">فيسبوك 810x450</option>
                    <option value="tiktok-snapchat">سناب شات / تيكتوك</option>
                    <option value="square">مربع 1080×1080</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="text-color-input">لون النص</label>
                <input type="color" name="text-color-input" id="text-color-input" class="form-control">
            </div>
            <div class="mb-3">
                <label for="bg-color-input">لون الخلفية</label>
                <input type="color" name="bg-color-input" id="bg-color-input" class="form-control">
            </div>
            <!--
            <div class="mb-3">
                <label for=""class='form-label'>درجة شفافية الخلفية*</label>
                <input type="text" class="form-control" placeholder="درجة شفافية الخلفية من 0 لـ 1" required name="opacity-input">
            </div>
        --> 
        <div class="mb-3">
            <label for="" class='form-label'>درجة شفافية الخلفية*</label>
            <select class="form-select" required name="opacity-input">
                <option disabled selected>اختر درجة الشفافية</option>
                <option value="0.0">0.0</option>
                <option value="0.1">0.1</option>
                <option value="0.2">0.2</option>
                <option value="0.3">0.3</option>
                <option value="0.4">0.4</option>
                <option value="0.5">0.5</option>
                <option value="0.6">0.6</option>
                <option value="0.7">0.7</option>
                <option value="0.8">0.8</option>
                <option value="0.9">0.9</option>
                <option value="1.0">1.0</option>
            </select>
        </div>
        </div>
        <div class="col-md-6">
            <h4>إعدادات شاشة النهاية</h4>
            <div class="mb-3">
                <label for="end-screen-main-txt" class="form-label">
                    نص شاشة النهاية*
                </label>
                <input type="text" class="form-control" id="end-screen-main-txt" name="end-screen-main-txt" placeholder="اكتب نص شاشة النهاية" required>
            </div>
            <div class="mb-3">
                <label for="end-screen-url-txt" class="form-label">الرابط/الرقم*</label>
                <input type="text" id="end-screen-url-txt" name="end-screen-url-txt" class="form-control" placeholder="ادخل رقم / رابط" required>
            </div>
            <div class="mb-3">
                <label for="end-screen-bg">لون الخلفية*</label>
                <input type="color" name="end-scrren-bg" id="end-scrren-bg" class="form-control">
            </div>
            <div class="mb-3">
                <label for="end-screen-fg">لون النص*</label>
                <input type="color" name="end-scrren-fg" id="end-scrren-fg" class="form-control">
            </div>

        </div>
    </div>
    <div class="row">
        <div class="container" >
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-dark col-lg-2 col-sm-6 col-md-4 ">ابدأ</button>
                    <button type="submit" id="btnPreviewExport" class="btn btn-success col-lg-2 col-sm-6 col-md-4 ">تصدير معاينة 6 ثواني</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    let btnPreviewExport = document.querySelector('#btnPreviewExport'); 
    let form = document.querySelector('form'); 


    btnPreviewExport.addEventListener('click', (e)=> {
        e.preventDefault(); // Prevent From Submit 

        form.action = "{% url 'video-v2:text_preview_export' %}"
        form.submit(); 
    })

</script>


{% endblock content %}