{% extends 'base.html'  %}

{% block title %}
الأسعار
{% endblock %}


{% block content %}

    <style>
      * {
        font-family: 'Cairo', sans-serif;
      }
      .head{
        text-align: center;
            font-family: unset;
    font-weight: 600;
    color: #84848d;
      }
      .card{
        border: .5px solid #84848d;
        border-radius: 3px;
        text-align: center;
      }
    </style>



   <div class="container head mt-5">
    <div class="row">
      <h1> الباقات </h1>
      </p>
    </div>
   </div>
  <div class="container mt-5">
    <div class="row">  

     
       {% for p  in plans  %}  

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card shadow-lg mb-5 bg-white">
          <div class="card-header">
            <h5 class="card-title">{{p.name}}</h5>
          </div>
          <div class="card-body"> 
            <h2 class="card-text">{{p.price}} $ / شهرياً</h2>
            
              {% for feature in features %}
                {% if feature.plan.name == p.name %}
                  <p class="card-text">{{feature.plan.videos_per_months}} فيديوهات </p>  

                  {% if feature.watermark == 0 %}

                  <p>
                    <i class="fa-regular fa-circle-check" style="color: #008040;"></i>
                     بدون علامة مائية 
                  </p>

                  {% else %}
                  <p>
                    <i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i>
                     بدون علامة مائية
                  </p>
                  {% endif %}

		{% if feature.template1 == 0 %}
		<p>
		<i class='fa-regular fa-circle-check' style='color: #ff0000'  > نموذج فيديو عادي </i>
		</p>
		{% else %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #008040' > نموذج فيديو عادي</i>
                </p>
		{% endif %}



                {% if feature.template2 == 0 %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #ff0000' > نموذج فيديو مع لوجو</i>
                </p>
                {% else %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #008040' > نموذج فيديو مع لوجو</i>
                </p>
                {% endif %}



                {% if feature.template3 == 0 %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #ff0000' > نموذج فيديو تقييم</i>
                </p>
                {% else %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #008040' > نموذج فيديو تقييم</i>
                </p>
                {% endif %}


                {% if feature.change_img_size == 0 %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #ff0000' > تغيير حجم الصور</i>
                </p>
                {% else %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #008040' > تغيير حجم الصور</i>
                </p>
                {% endif %}


                {% if feature.remove_audio == 0 %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #ff0000' > إزالة الصوت من الفيديو</i>
                </p>
                {% else %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #008040' > إزالة الصوت من الفيديو</i>
                </p>
                {% endif %}



                {% if feature.change_video_speed == 0 %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #ff0000' > تغيير سرعة الفيديو</i>
                </p>
                {% else %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #008040' > تغيير سرعة الفيديو</i>
                </p>
                {% endif %}


                {% if feature.change_audio_speed == 0 %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #ff0000' > تغيير سرعة الصوت</i>
                </p>
                {% else %}
                <p>
                <i class='fa-regular fa-circle-check' style='color: #008040' > تغيير سرعة الصوت</i>
                </p>
                {% endif %}


                {% endif %}
              {% endfor  %}
              
                  
            <a class="btn btn-dark form-control" href="{% url 'pay:plan_detalis' p.id %}">تفاصيل</a>
          </div>
        </div>
      </div>
  {% endfor %}


{% endblock content %}
